@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245,245,245);
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

@media (max-width: 500px) {
    body {
        flex-wrap: wrap;
    }
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(244,195,145);
    opacity: 0.8;
}

#header-img {
    height: 70px;
    width: 100px;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li > a {
    width: 100% auto;
    display: block;
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(207,162,130);
}

#hero {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.img-hero {
    width: 100%;
    height: 39rem;
}

.titulo-imagen {
    font-family: 'Archivo', sans-serif;
    font-size: 2rem;
    color: rgb(245,245,245);
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.descripcion-imagen {
    color: rgb(245,245,245);
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main-container {
    margin: 20px;
}

.servicios-contenedor {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.servicio-bottom {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
    border-bottom: dashed 2px rgb(179,182,183);
}

.servicio-lugares {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
    border-bottom: dashed 2px rgb(179,182,183);
    border-left: dashed 2px rgb(179,182,183);
    border-right: dashed 2px rgb(179,182,183);
}

.servicio-top {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

.servicio-protegida {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
    border-left: dashed 2px rgb(179,182,183);
    border-right: dashed 2px rgb(179,182,183);
}

#icono {
    margin-bottom: 5px;
}

#ser-titulo {
    font-family: 'Kanit', sans-serif;
    margin-bottom: 10px;
}

.titulo-row {
    font-family: 'Akshar', sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

#row-video {
    background-color: white;
    text-align: center;
}

#row-servicios, #row-video, #row-precios, #row-tips {
    margin: 20px;
    padding: 20px;
}

#row-precios {
    background-color: white;
}

.card-section {
    display: flex;
    justify-content: center;
}

.tarjeta {
    margin: 20px;
    background-color: rgb(240,240,240);
    width: 280px;
    line-height: auto;
    border-radius: 10px 10px 10px 10px;
    transition: 0.3s;
}

.tarjeta:hover {
    box-shadow: 0 5px 20px 0 rgba(166, 172, 175);
    cursor: punteir;
}

.img-header > img {
    width: 100%;
    height: auto;
    border-radius: 9px 9px 0 0;
}

.header-card {
    padding: 1rem;
}

.header-card .card-category {
    font-family: 'Akshar', sans-serif;
    text-transform: uppercase;
    color: rgb(179, 182, 183);
    font-size: 12px;
    text-decoration: none;
}

.header-card .card-titulo {
    font-size: 2rem;
    margin-top: 4px;
    margin-bottom: 4px;
}

.header-card .card-descripcion {
    color: rgb(179, 182, 183);
    font-weight: bold;
}

.footer-card {
    background-color: rgb(0,153,153);
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.footer-card-ny {
    background-color: rgb(0,200,0);
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.footer-card-ba {
    background-color: rgb(235,205,0);
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.footer-card-fr {
    background-color: rgb(200,0,0);
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.card-titulo-footer {
    text-align: center;
    font-family: 'Akshar', sans-serif;
}

.precios-container {
    display: flex;
    justify-content: space-around;
    color: rgb(215,215,215);
}

.dias-card {
    font-weight: bold;
    font-size: 20px;
}

.des-card {
    margin-top: 12px;
    padding-left: 7px;
    font-weight: bold;
}

.valor-card {
    font-weight: 900;
    font-size: 20px;
    padding-top: 10px;
}

#row-tips {
    background-color: white;
}

.tip-titulo {
    text-align: center;
}

.aside-container {
    padding: 20px;
    display: flex;
}

.img-izq {
    width: 100% auto;
    height: auto;
}

.text-der {
    margin-left: 2.5rem;
    width: 100%;
}

.text-der > h2 {
    margin-bottom: 1rem;
}

footer {
    background-color: rgb(244,195,145);
    padding: 20px;
}

.row-top-footer {
    display: flex;
    overflow: hidden;
    line-height: 16px;
}

#form {
    float: left;
    font-weight: bold;
    padding: 20px;
}

.btn {
    font-weight: bold;
    width: 5rem;
    padding: 4px;
    font-family: 'Akshar', sans-serif;
}

.email {
    padding: 5px;
}

.redes {
    padding: 2px;
    margin-left: 40rem;
}

.row-footer {
    color: white;
    text-size: 10px;
    text-align: center;
}

